<div class="col-md-6 offset-md-3">
    <h3> Search By Title </h3>
    <form #searchForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Title</label>
            <input type="text" class="form-control" id="title" required maxlength="100" [(ngModel)]="book.title"
                #title="ngModel" name="title">
        </div>
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert">
            <div *ngIf="title.errors?.required">
                Title is required.
            </div>
        </div>
        <button [disabled]="searchForm.invalid" class="btn btn-success" type="submit">Submit</button>

    </form>
</div>