body {
    background-image: url("images/qualifications.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 600px;
}
div {
    background-color: aliceblue;
    opacity: 0.6;
    width: 30%;
}