body {
    background-color: grey;
}

h1.header {
    color: wheat;
}

table {
    border: 2px solid black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

th, td {
    border: 2px solid black;
    background-color: white;
    column-span: all;
}

.links {
    vertical-align: top;
}

body.workExperience {
    background-color: lightcoral;
}
#profileImage {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}