* {
    background-color: grey;
}

body, html {
    width: 100%;
    height: 100%;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul.nav-bar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: 0;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

ul.objects {
    margin: 0 auto;
    display: table;
}

li {
    float: left;
}

li a.nav-bar-links {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
    font-weight: bold;
}

li a.nav-bar-links:hover {
    background-color: #111;
}

.subheaders {
    color: white;
    text-align: center;
}

.objects {
    list-style-type: none;
    background-color: grey;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

img {
    margin-left: 20px;
    margin-right: 20px;
}

.movies {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18pt;
}

.movieImage {
    height: 300px;
    width: 150px;
    transition-timing-function: linear;
    transition-duration: 0.25s;
}

.movieImage:hover {
    transform: scale(1.5);
}

div.header {
    margin: 0px;
    margin-left: 120px;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: none;
    background-color: lightblue;
}

input:focus {
    background-color: wheat;
}

input:invalid {
    color: red;
}

#watchMovie {
    margin: 50px;
    text-align: center;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 2%;
    float: left;
    transition: transform 0.5s ease-in-out;
}

.logo:hover {
    transform: rotate(360deg);
}

.logoContainer {
    height: auto;
    padding: 1%;
    margin-bottom: 10px;
}

.clear {
    clear: left;
}

a.logoLink {
    color: black;
    text-decoration: none;
}

.fa {
    padding: 20px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
}

.fa:hover{
    opacity: 0.6;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  /* Email */
  .fa-envelope-square {
      background: palevioletred;
      color: white;
  }

  .footer {
      color: white;
      text-align: center;
  }
  