* {
    background-color: wheat;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    border: 2px solid black;
}

.images{
    float: right;
    height: 400px;
    width: 600px;
}

.text {
    float: left;
}

.clear {
    clear: both;
}